.group-item{
    display: flex;
}

.group-edit-btn{
    width:24px;
    height:24px;
}

.group-table {
    width: 500px !important;
    text-align: center !important;

    td {
        text-align: center;
    }
}