.group-item{
    display: flex;
    border-bottom: 1px solid #cccccc;
}

.group-edit-btn{
    width:24px;
    height:24px;
}

.group-table {
    text-align: center !important;

    td {
        text-align: center;
    }
}

.layout {
    ul.left-nav{
         border: 1px solid #cccccc;
        box-shadow: 4px 4px 10px #cccccc;
    }
}