.salary-module-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;

    li{
        width: 150px;
        margin-left: 10px;
        text-align: center;
        i {
            font-size: 55px;
        }
    }

    button{
        height: 75px;
    }
}
