<nz-divider nzText="核算与调整" nzOrientation="left"></nz-divider>

<ul class="salary-module-list">
    <li *appCanAccess="['CALCULATE_SALARY']">
        <nz-card>
            <i nz-icon type="calculator" theme="twotone"></i>
            <p> <a routerLink="/salary/calculate">核算</a> </p>
        </nz-card>
    </li>

    <li *appCanAccess="['QUERY_PROFILE_SALARY']">
        <nz-card>
            <i nz-icon type="calculator" theme="twotone"></i>
            <p> <a routerLink="/salary/adjust">调整</a> </p>
        </nz-card>
    </li>

</ul>

<nz-divider nzText="配置" nzOrientation="left"></nz-divider>

<ul class="salary-module-list">
    <li *appCanAccess="['SET_TEMPLATE']">
        <nz-card>
            <i nz-icon type="switcher" theme="twotone"></i>
            <p><a routerLink="/salary/template">配置模板</a></p>
        </nz-card>
    </li>
    <li *appCanAccess="['UPDATE_ACCOUNT','CREATE_ACCOUNT']">
        <nz-card>
            <i nz-icon type="build" theme="twotone"></i>
            <p> <a routerLink="/salary/templateaccount">配置账套</a> </p>
        </nz-card>
    </li>
    
</ul>

<nz-divider nzText="配置" nzOrientation="left"></nz-divider>

<ul class="salary-module-list" *appCanAccess="['SET_BASE_SALARY','SET_TAX']">
    <li>
        <nz-card>
            <span>{{this.inputValue}}</span>
            <button nz-button nzType="primary" (click)="createTplModal(tplTitle, tplContent, tplFooter)">
                <span>基本工资</span>
            </button>
            <ng-template #tplTitle>
            <span>基本工资设定</span>
            </ng-template>
            <ng-template #tplContent>
             <input nz-input nzSize="small" [(ngModel)]="inputValue" (ngModelChange)="handleInputValue($event)" value="{{inputValue}}">
            </ng-template>
            <ng-template #tplFooter>
            <button nz-button nzType="primary" (click)="destroyTplModal()" [nzLoading]="tplModalButtonLoading">提交保存</button>
            </ng-template>
        </nz-card>
    </li>

    <li>
        <nz-card>
            <span>{{taxConf.threshold}}</span>
            <button nz-button nzType="primary" (click)="createTaxModal(tplTitle2, tplContent2, tplFooter2)">
                <span>个税起征点</span>
            </button>
            <ng-template #tplTitle2>
            <span>设定个税起征点</span>
            </ng-template>
            <ng-template #tplContent2>
                <span>起征点</span>
                <input nz-input nzSize="small" type="number"  [(ngModel)]="taxConf.threshold" >

                <nz-table #editRowTable  nzBordered nzSize="small">
                    <thead>
                        <tr>
                        <th>级别</th>
                        <th>税率</th>
                        <th>速算扣除数</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of taxConf.rating; let i = index;">
                        <td>
                            <input type="number" nz-input [(ngModel)]="taxConf.level[i]">
                        </td>
                        <td>
                            <input type="number" nz-input [(ngModel)]="taxConf.rating[i]">
                        </td>
                        <td>
                            <input type="number" nz-input [(ngModel)]="taxConf.deduction[i]">
                        </td>
                        </tr>
                    </tbody>
                    </nz-table>
                
            </ng-template>
            <ng-template #tplFooter2>
            <button nz-button nzType="primary" (click)="destroyTaxModal()" [nzLoading]="taxModalButtonLoading">提交保存</button>
            </ng-template>
        </nz-card>
    </li> 


     <li>
        <nz-card>
            <button nz-button nzType="primary" (click)="createTaxModal(tplTitle3, tplContent3, tplFooter3)">
                <span>预扣率表</span>
            </button>
            <ng-template #tplTitle3>
            <span>个人所得税税率表</span>
            </ng-template>
            <ng-template #tplContent3>

                <nz-table #editRowTable  nzBordered nzSize="small">
                    <thead>
                        <tr>
                        <th>累计预扣预缴应纳税所得额别</th>
                        <th>预扣率</th>
                        <th>速算扣除数</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of preDeductionRate.rating; let i = index;">
                        <td>
                            <input type="number" nz-input [(ngModel)]="preDeductionRate.level[i]">
                        </td>
                        <td>
                            <input type="number" nz-input [(ngModel)]="preDeductionRate.rating[i]">
                        </td>
                        <td>
                            <input type="number" nz-input [(ngModel)]="preDeductionRate.deduction[i]">
                        </td>
                        </tr>
                    </tbody>
                    </nz-table>
                
            </ng-template>
            <ng-template #tplFooter3>
            <button nz-button nzType="primary" (click)="destroyPreDeductionRateModal()" [nzLoading]="taxModalButtonLoading">提交保存</button>
            </ng-template>
        </nz-card>
    </li> 

</ul>

