.form-item {
    float: left;
}

.template-title-bar {
    margin: 10px;
}

.template-action-bar{
    width: 300px;
    margin: 20px auto;
}

.container {
    padding: 20px;

   
}

.err-msg {
    background: red;
    color: white;
    padding: 10px;
    margin: 5px;
}
