.form-item {
    float: left;
}

.template-title-bar {
    margin: 10px;
}

.template-action-bar{
    width: 300px;
    margin: 20px auto;
}

.number-tip{
    background: red;
    color: white;
    border-radius: 16px;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    margin: 5px;
}

.container {
    padding: 20px;

   
}

.err-msg {
    background: red;
    color: white;
    padding: 10px;
    margin: 5px;
}
