.select-item {
    border:1px solid #cccccc;
    padding: 1px 10px;
    background: lightgoldenrodyellow;
    margin: 5px;

    button{
        float: right;
        height: 20px;
        width: 20px;
        line-height: 1.5px;
    }
}

.selected-templates {
    height: 200px;
    overflow: auto;
}