.ant-input-affix-wrapper .ant-input-suffix {
    right: 0px !important;
}

.current-description {
    background: turquoise;
    padding: 2px;
    border-radius: 10px;
    text-align: center;
    margin:10px 2px;
    line-height: 36px;
    
    span{
        margin-left:20px;
    }
}

.target-selector {
    background: deepskyblue;
    padding: 2px;
    margin:10px 2px;
    border-radius: 10px;
    text-align: center;
    line-height: 36px;
    span{
        margin-left:20px;
    }
}

.table-action-bar {
    button {
        margin-left:10px;
    }
}

.container {
    .thead{
        height: 35px;
        text-align: center;
        background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
        height: 50px;
        color: antiquewhite;
        
        td{
            border: 0.5px solid #cccccc;
        }
    }
}