.cell {
    margin: 5px;
    padding: 5px;

    span{
        padding: 5px;
    }
}

.card-container {
    div{
        color: #84fab0 !important;
    }

    
}


.profile-detail-btn {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);

    a {
        font-size: 18px;
        display: block;
        margin: auto;
        width: 124px;
    }
}
.profile-transfer-btn {
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    button {
        display: block;
        margin: auto;
    }
}

.statistics-container {
    background: white;    
    color: black;
}
.statistics-btn{
    border: 0px;
    margin: 5px;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
        text-align: center;
}

.acccount-selector {
    width: 150px;
    margin-top: 34px;
}