.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid rgb(232, 232, 232);
    padding: 10px 16px;
    text-align: right;
    left: 0px;
    background: #fff;
  }

.container {
  background: rgba(234,114,93,.05);
  border-top: 3px solid rgba(234,114,93,.3);
    padding: 20px;
    border-radius: 2px;
    overflow: auto;
    
    .action-bar-bottom {
      margin: auto;
      text-align: center;

      button{
        width: 300px;
        margin: 20px;
      }
    }
}

