.login-page{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px;
    background: #001529;
}

.login-form {
    width: 400px;
    height: 300px;
    padding: 20px;
    margin: auto;
}