#salary-detail-container {
    display: block;
    width: 900px;
    margin: auto;
    box-shadow: 0px 5px 10px #d1d7ff;
    padding: 20px;

    .action-bar{
        margin: 10px;
    }

    .detail-box{
        margin: 10px;
    }

    td{
        padding: 10px;
    }

    td, th {
        border: solid 1px #cccccc;
    } 

    .form-control{
        color: black; 
        cursor: not-allowed;
    }
}