.salary-module-list{
        list-style: none;
        margin: auto;
        text-align: center;
        width: 100%;
        background: #29323c;

    li{
        width: 150px;
        display:inline-block;
        background: white;
        padding: 20px;
        background: #485563;

        i {
            font-size: 55px;
        }

    }

    button{
        height: 75px;
    }
}
