.salary-module-list{
    list-style: none;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    text-align: center;
    width: 50%;

    li{
        width: 150px;
        text-align: center;
        background: white;
        padding: 40px;
        background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);

        i {
            font-size: 55px;
        }

        .button{

        }
    }

    button{
        height: 75px;
    }
}
