<nz-cascader
      [nzOptions]="nzOptions"
      [(ngModel)]="values"
      [nzShowSearch]="true"
      (ngModelChange)="onChanges($event)">
</nz-cascader>

<!-- <ng-template #renderTpl let-labels="labels" let-selectedOptions="selectedOptions">
      <ng-container *ngFor="let label of labels; let i = index; let isLast = last">
            <span *ngIf="!isLast"> {{label}}/ </span>
            <span *ngIf="isLast">
            {{label}}
            </span>
      </ng-container>
</ng-template> -->


 <!-- [nzTriggerAction]="'hover'"
      [nzExpandTrigger]="'hover'" -->
<!-- <nz-tree-select
      style="width: 250px"
      [nzDefaultExpandedKeys]="expandKeys"
      [nzNodes]="nzOptions"
      nzShowSearch
      nzPlaceHolder="Please select"
      [(ngModel)]="value"
      (ngModelChange)="onChange($event)">
    </nz-tree-select> -->