
<nz-modal [(nzVisible)]="visible" nzWidth="820" nzTitle="职员管理" (nzOnCancel)="closeModal()" (nzOnOk)="onSubmit()">

<div nz-row>
    <div nz-col nzSpan="6">
        <app-usergroup-tree (selectedNode)="getSelectedNode($event)"></app-usergroup-tree>
    </div>
    <div nz-col nzSpan="18">
      <div nz-row>
        <nz-input-group nzSearch nzSize="large" [nzSuffix]="suffixButton">
            <input type="text" nz-input placeholder="input search text">
          </nz-input-group>
          <ng-template #suffixButton>
            <button nz-button nzType="primary" nzSize="large" nzSearch>搜索</button>
        </ng-template>
      </div>
      <div nz-row>
        <div nz-col nzSpan="10">
          <div class="user-list-div">
              <nz-table [nzData]="users" #userTable nzSize="small" [nzBordered]="'true'">
                  <thead>
                      <tr>
                        <th>序号</th>
                        <th>用户名</th>
                        <th>操作 <a (click)="checkAllUsers()">全部</a></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let u of userTable.data;let i = index">
                        <td>{{i+1}}</td>
                        <td>{{u.username}}</td>
                        <td>
                            <nz-switch [ngModel]="selectedMap[u.id]"  (ngModelChange)="checkUser(u)" [nzCheckedChildren]="checkedTemplate" [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
                            <ng-template #checkedTemplate><i class="anticon anticon-check"></i></ng-template>
                            <ng-template #unCheckedTemplate><i class="anticon anticon-cross"></i></ng-template>
                        </td>
                      </tr>
                    </tbody>
              </nz-table>
          </div>
        </div>
        <div nz-col nzSpan="10">
            <div class="user-list-div">
            <nz-table [nzData]="checkedUsers" #checkedUserTable nzSize="small" [nzBordered]="'true'">
                <thead>
                    <tr>
                      <th>序号</th>
                      <th>用户名</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let u of checkedUserTable.data;let i = index">
                      <td>{{i+1}}</td>
                      <td>{{u.username}}</td>
                      <td>
                        <a (click)="checkUser(u)"><i class="anticon anticon-close"></i></a>
                      </td>
                    </tr>
                  </tbody>
            </nz-table>
            </div>
        </div>
      </div>
 
  </div>
</div>

</nz-modal>