.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid rgb(232, 232, 232);
    padding: 10px 16px;
    text-align: right;
    left: 0px;
    background: #fff;
  }

  .profile-list-div{
    height: 400px;
    overflow: auto;
    padding: 0;
    ul {
      list-style: none;

      li {
        padding: 2px;

      }
    }
  }