.tag-list {
    list-style: none;
    padding: 0 ; 
    width: 200px;
    color: white;

    .tag-number {
        padding: 2rem;
    }

    li{
        margin: 5px;
        float: left;
        width: 100%;
        background: steelblue;
        color: white;
        padding: 5px;
        border-radius: 10px 0px 0px 10px;
        position: relative;
        cursor: pointer;

        .triangle:before {
            content: "";
            position: absolute;
            right: -12px;
            top: -3px;
            width: 0;
            height: 0;
            border-top: 18px solid transparent;
            border-left: 12px solid steelblue;
            border-bottom: 18px solid transparent;
        }
    }
}

.tag-table{
    table{
            width: 700px;
            margin: auto;
            color: white;
            border: 1px solid white;

            th {
                text-align: center;
            }
            tr {
                height: 30px;

                td{
                    border: 0.5px solid white;
                    padding: 5px;
                    text-align: center;
                }
            }
        }
}

.ant-tag{
    line-height: 40px !important;
    height: 40px !important;
    font-size: 14px !important;
}

.tag-action{
    text-align: center;

    a {
        color: #666666;
    }
}

.create-tag-btn{
    height: 30px;
    width: 300px;
    float: right;
}