.form{
    padding: 20px;
    margin: auto;
    width: 80%;
    box-shadow: 0px 1px 5px #d1d9e6;

    table{
        border: 0px;
    }

    .order-btn {
        width: 100%;
    }
}

.form-item {
    float: left;
}

.action-bar {
    margin: 10px;

    a {
    }
}