.form{
    width: 700px;
    margin: auto;

    table{
        border: 0px;
    }

    .order-btn {
        width: 100%;
    }
}

.form-item {
    float: left;
}

.action-bar {
    margin: 10px;

    a {
    }
}