<div class="form">
    <div class="action-bar">
        <a nz-button nzType="dashed" routerLink="/salary/template/create" class="ok-btn">新建模板</a> 
    </div>

    <nz-table #basicTable [nzBordered]="'true'"	[nzData]="list" [nzFrontPagination]="'false'" [nzHideOnSinglePage]="'true'">
        <thead>
            <tr>
            <th style="width:80px;">
               
            </th>
            <th >模板名</th>
            <!-- <th >模板类型</th> -->
            <th>操作</th>
            </tr>
        </thead>
        <tbody  >
            <tr *ngFor="let item of basicTable.data" >
                <td>{{item.order}}</td>
                <td>{{item.name}}</td>
                <!-- <td>{{item.type}}</td> -->
                <td>
                     <a nz-button nzType="dashed" class="ok-btn"  routerLink="/salary/template/update/{{item.id}}">更新</a>
                     <nz-divider nzType="vertical"></nz-divider>
                     <button nz-button nzType="danger" (click)="showDeleteConfirm(item.id,item.name)" *appCanAccess="['DELETE_TEMPLATE']">删除</button>
                </td>
            </tr>
        </tbody>
        <tfoot *ngIf="updateOrderBtnVisible">
            <tr  *appCanAccess="['UPDATE_TEMPLATE_ORDER']">
                <td colspan="3">  
                    <button nz-button class="warn-btn order-btn" (click)="updateOrderConfirm()">更新顺序</button>
                </td>
            </tr>
        </tfoot>
    </nz-table>

</div>

