:host ::ng-deep .ant-layout-header{
}

:host ::ng-deep .ant-layout-footer {
    color: slategrey;
    padding: 0;
    margin: auto;
    font-style: italic;
}

:host ::ng-deep .ant-layout-footer {
    line-height: 2;
}

:host ::ng-deep .ant-layout-sider {
    /* background: #d35400; */
}

:host ::ng-deep .ant-layout-content {
    padding: 10px;
    background: #F4DECB;
    height: 90%;
    overflow: auto;
}

:host > ::ng-deep .ant-layout {
    margin-bottom: 48px;
}

:host ::ng-deep .ant-layout:last-child {
    margin: 0;
}

:host ::ng-deep .ant-table-body table {
    padding: 0px !important;
}

:host ::ng-deep .ant-table-body tbody{
    background: #666666 !important;
    color: white;
}

:host ::ng-deep .table-action-bar {
    display: flex;
    justify-content: flex-end;
    margin: 5px;
}

:host ::ng-deep tbody>tr>td {
    padding:  2px ;
}

:host .ant-table-small>.ant-table-content>.ant-table-body>table>.ant-table-tbody>tr>td, .ant-table-small>.ant-table-content>.ant-table-body>table>.ant-table-thead>tr>th, .ant-table-small>.ant-table-content>.ant-table-fixed-left>.ant-table-body-outer>.ant-table-body-inner>table>.ant-table-tbody>tr>td, .ant-table-small>.ant-table-content>.ant-table-fixed-left>.ant-table-body-outer>.ant-table-body-inner>table>.ant-table-thead>tr>th, .ant-table-small>.ant-table-content>.ant-table-fixed-left>.ant-table-header>table>.ant-table-tbody>tr>td, .ant-table-small>.ant-table-content>.ant-table-fixed-left>.ant-table-header>table>.ant-table-thead>tr>th, .ant-table-small>.ant-table-content>.ant-table-fixed-right>.ant-table-body-outer>.ant-table-body-inner>table>.ant-table-tbody>tr>td, .ant-table-small>.ant-table-content>.ant-table-fixed-right>.ant-table-body-outer>.ant-table-body-inner>table>.ant-table-thead>tr>th, .ant-table-small>.ant-table-content>.ant-table-fixed-right>.ant-table-header>table>.ant-table-tbody>tr>td, .ant-table-small>.ant-table-content>.ant-table-fixed-right>.ant-table-header>table>.ant-table-thead>tr>th, .ant-table-small>.ant-table-content>.ant-table-header>table>.ant-table-tbody>tr>td, .ant-table-small>.ant-table-content>.ant-table-header>table>.ant-table-thead>tr>th, .ant-table-small>.ant-table-content>.ant-table-scroll>.ant-table-body>table>.ant-table-tbody>tr>td, .ant-table-small>.ant-table-content>.ant-table-scroll>.ant-table-body>table>.ant-table-thead>tr>th, .ant-table-small>.ant-table-content>.ant-table-scroll>.ant-table-header>table>.ant-table-tbody>tr>td, .ant-table-small>.ant-table-content>.ant-table-scroll>.ant-table-header>table>.ant-table-thead>tr>th{
    padding:  2px !important;
}

:host ::ng-deep .ant-layout{
    background: transparent !important;
}