.group-item{
    display: flex;
    border-bottom: 1px solid #cccccc;
    background: slategrey;
    color: white;
}

.group-edit-btn{
    width:24px;
    height:24px;
    position: absolute;
    right: 0;
}

.group-table {
    text-align: center !important;

    td {
        text-align: center;
    }
}

.layout {
    ul.left-nav{
    }
}

.table-action-bar {
    button {
       margin: 10px;
    }
}