
<nz-layout class="layout">
    <nz-sider [nzWidth]="200" style="background: rgb(0, 21, 41); color: white;">
      <ul nz-menu [nzMode]="'horizontal'" class="left-nav">
        <li *ngFor="let g of topGroups ; let i = index " class="group-item">
          <div nz-menu-item (click)="renderChildGroup(i)" >
              <i nz-icon nzType="deployment-unit" nzTheme="outline"></i>{{g.name}} 
          </div>
          <!-- <nz-divider></nz-divider> -->
          <div class="group-edit-btn">
              <a   (click)="openEditForm(g)">
                <i nz-icon nzType="edit" nzTheme="outline"></i>
              </a>
          </div>
          
        </li>
      </ul>   
    </nz-sider>
    
    <nz-content style="padding:0 50px;">
        <div class="table-operations table-action-bar">
            <button nz-button (click)="openEditForm()" class="blue-btn" *appCanAccess="['CREATE_GROUP']" class="ok-btn">新增分类群组</button>
            <button nz-button (click)="openImportModal()" class="blue-btn" *appCanAccess="['IMPORT_GROUP']" class="purple-btn">导入人员表</button>
            <button nz-button (click)="openImportTagsModal()" class="blue-btn" *appCanAccess="['IMPORT_GROUP_TAGS']" class="purple-btn">导入系数表</button>
        </div>
        <nz-table #basicTable [nzData]="groups" [nzHideOnSinglePage]="'true'" nzShowSizeChanger [nzBordered]="'true'" class="group-table" [nzLoading]="loading">
            <thead>
              <tr>
                <th>编码</th> 
                <th>分类名</th>
                <th>系数</th>
                <th>默认</th>
                <th *appCanAccess="['CREATE_GROUP']">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of basicTable.data">
                <td>{{data.code}}</td>
                <td style="text-align: center">{{data.name}}</td>
                <td>{{data.coefficient}}</td>
                <td><span *ngIf="data.default">默认组</span></td>
                <td *appCanAccess="['CREATE_GROUP']">
                    <button nz-button nzType="dashed" (click)="checkProfile(data)">查看员工</button>
                  <nz-divider nzType="vertical"></nz-divider>

                  <button nz-button nzType="dashed" (click)="openTagModal(data)" class="ok-btn">关联标签</button>
                  <nz-divider nzType="vertical"></nz-divider>
                  <button nz-button nzType="dashed" (click)="openEditForm(data)" class="ok-btn">更新</button>
                  <!-- <nz-divider nzType="vertical"></nz-divider> -->
                  <!-- <button nz-button nzType="danger" (click)="showDeleteConfirm(data.id,data.name)">删除</button> -->
                  <nz-divider nzType="vertical"></nz-divider>
                  <nz-switch [ngModel]="data.locked" nzCheckedChildren="解锁" nzUnCheckedChildren="锁定" (ngModelChange)="lock(data.id,$event)"></nz-switch>
                  <nz-divider nzType="vertical"></nz-divider>
                  <nz-switch [ngModel]="data.invalid" nzCheckedChildren="启用" nzUnCheckedChildren="作废" (ngModelChange)="invalid(data.id,$event)"></nz-switch> 
                </td>
              </tr>
            </tbody>
          </nz-table>
    </nz-content>
  </nz-layout>

<div >
    <nz-modal [nzWidth]="300" [nzVisible]="visible" nzTitle="新增或修改群组信息" (nzOnCancel)="closeEditForm()" [nzFooter]="null">
      <app-group-editor [defaultGroup]="selectedGroup" (afterDelete)="getTopGroup()"></app-group-editor>
    </nz-modal>

    <nz-drawer [nzClosable]="false"  [nzWidth]="900" [nzVisible]="profileDrawerVisible" nzTitle="组员信息" (nzOnClose)="closeProfileEditForm()">
      <app-simple-profile-list [group]="selectedGroup" ></app-simple-profile-list>
  </nz-drawer>
</div>

<nz-modal [(nzVisible)]="importModalVisible" nzTitle="批量导入" (nzOnCancel)="closeImportModal()" (nzOnOk)="closeImportModal()">
    <p>
        导入人员表，将会批量将人员与分类进行关联。
        注意：<br>
        一、上传的模板表格名必须为 <span style="color:red">Sheet1</span>；<br>
        二、上传的要素必须与系统一一对应<br>
        三、必须第一行开始;<br>
        四、分类以. 符号分隔，比如 部门.开发部   学历.本科,必须是英文符号  ;<br>
    </p>
    <p>
      <nz-upload
        [(nzFileList)]="fileList"
        [nzBeforeUpload]="beforeUpload">
        <button nz-button>
          <i class="anticon anticon-upload"></i><span>选择上传文件</span>
        </button>
      </nz-upload>
        <a class="import-template-download-link" href="{{defaultTemplateFile}}" > 查看 "导入人员表" 模板 </a>
        <a class="import-template-download-link" href="{{defaultTemplateFile2}}" > 查看 “导入系数表” 模板 </a>
    </p>
    <button nz-button [nzType]="'primary'" [nzLoading]="uploading" (click)="handleUpload()" [disabled]="fileList.length == 0" style="margin-top: 16px">
        {{ uploading ? '正在上传...' : '开始上传并处理' }}
     </button>
    
    <div class="error-msg-container" *ngIf="errFile">
        <p>导入失败，请仔细检查您的表，如果分类不存在，系统将自动为您创建。</p>
        <p>{{importErrorMsg}}</p>

        <p> <a  href="{{errFile}}" > 发现错误，点击查看 </a></p>
    </div>
</nz-modal>

<nz-modal [(nzVisible)]="tagModalVisible" nzTitle="关联标签"  [nzWidth]="800" [nzOkLoading]="isOkLoading" (nzOnCancel)="closeTagModal()" (nzOnOk)="submitTags()">
   <h2 style="padding: 2px;">{{selectedGroup?.name}}</h2> 
    <nz-row  *ngFor="let t of selectedGroup?.tags;let i=index;" >
      <nz-tag nzMode="closeable" (nzOnClose)="onTagClose(i)" style="padding: 4px;">
          <nz-tag [nzColor]="'lime'" *ngIf="parentTagMap[t.parent]" > {{parentTagMap[t.parent]}} </nz-tag>
        <nz-tag [nzColor]="'lime'">系数名:{{t.name}}</nz-tag>
        <nz-divider nzType="vertical"></nz-divider>
        <nz-tag [nzColor]="'green'">值:{{t.coefficient}}</nz-tag>
      </nz-tag>
    </nz-row>
    <nz-divider></nz-divider>
     <nz-row>
       添加标签:
      <app-tag-selector (onSelectedTag)="onSelectedTop($event)" (onCheckedTags)="onSelected($event)" [default]="defaultChecked"> </app-tag-selector>
     </nz-row>

     <p>规则配置</p>
       <nz-table [nzBordered]="'true'" [nzData]="rules"	[nzSize]="'small'" [nzFooter]="footer" #ruleTable>
          <tbody>
            <tr *ngFor="let rule of ruleTable.data; let i = index;">
               <td>{{rule}}</td>
               <td>
                 <nz-popconfirm [nzTitle]="'确定删除?'" (nzOnConfirm)="removeRule(i)">
                    <a nz-popconfirm style="color:red;">
                      <i nz-icon nzType="close" nzTheme="outline"></i>
                    </a>
                </nz-popconfirm>
               </td>
            </tr>
          </tbody>
        </nz-table>
        <ng-template #footer>
           <button nz-button nzType="dashed" (click)="openRuleModal()" class="ok-btn">增加</button>
        </ng-template>
     
</nz-modal>

<nz-modal [(nzVisible)]="ruleModalVisible" [nzWidth]="950" nzTitle="分类与标签规则编写" (nzOnCancel)="closeRuleModal()" (nzOnOk)="submitRules()">
    如果人员属于: 
    <app-group-tree-selector (onSelectedText)="onGroupSelected($event)"></app-group-tree-selector>
    则选择此系数:  
    <app-tag-selector  (onSelectedText)="onTagSelected($event)"></app-tag-selector>
</nz-modal>