<div  class="nav-bar">
 
  <ul nz-menu [nzMode]="'horizontal'" [nzMode]="'inline'" nzTheme='dark' [nzInlineCollapsed]="isCollapsed">
    
    <li nz-submenu>
       <span title>
        欢乐桐人力资源管理系统
      </span>
    </li>
    <li nz-submenu *appCanAccess="['ADD_PERMISSIONS', 'CREATE_USER','CREATE_USER_GROUP','CREATE_ROLE']">
      <span title><i class="anticon anticon-setting"></i> 管理 </span>
        <ul>
            <li nz-menu-item> <span><a routerLink="/admin/users">用户管理</a></span> </li>
            <li nz-menu-item> <span><a routerLink="/admin/usergroups">群组管理</a></span></li>
            <li nz-menu-item> <span><a routerLink="/admin/roles">角色管理</a></span></li>
            <li nz-menu-item> <span><a routerLink="/admin/permissions">权限管理</a></span></li>
            <li nz-menu-item> <span><a routerLink="/admin/backup">备份与还原</a></span></li>
        </ul>
    </li>
    <li nz-menu-item *appCanAccess="['CREATE_GROUP']">
      <span title>
        <i class="anticon anticon-team"></i>
        <span><a routerLink="/org">组织</a></span>
      </span>
    </li>
    <li nz-menu-item *appCanAccess="['LIST_PROFILES']">
      <span title>
        <i class="anticon anticon-contacts"></i>
        <span><a routerLink="/employee">员工</a></span>
      </span>
    </li>
    <li nz-menu-item *appCanAccess="['LIST_TAGS']">
      <span title>
        <i class="anticon anticon-tag"></i>
        <span><a routerLink="/coefficient">标签</a></span>
      </span>
    </li>
    <li nz-menu-item *appCanAccess="['CALCULATE_SALARY']">
      <span title>
        <i class="anticon anticon-calculator"></i>
        <span><a routerLink="/salary">薪酬</a></span>
      </span>
    </li>
    <li nz-menu-item >
      <span title>
        <i class="anticon anticon-bar-chart"></i>
        <span><a routerLink="/statistics">统计</a></span>
      </span>
    </li>
     <li nz-menu-item *appCanAccess="['LIST_AUDIT']">
      <span title>
        <i class="anticon anticon-appstore"></i>
        <span><a routerLink="/task">任务</a></span>
      </span>
    </li>
  </ul>  
  
</div>