<div  class="nav-bar">
 
  <ul nz-menu [nzMode]="'horizontal'" [nzMode]="'inline'" nzTheme='dark' [nzInlineCollapsed]="isCollapsed">
    
    <li nz-menu-item>
       <span title>
         <img [src]="logo" width="35"> 

          <span style="font-size: 16px; color: white; text-shadow: 1px 1px 1px #cccccc;color: blanchedalmond;">新阶段工资模板计算系统</span> 
        </span>
    </li>
     <li nz-menu-item *appCanAccess="['DASHBOARD']">
      <span title>
        <i nz-icon nzType="home" nzTheme="outline"></i>
        <span><a routerLink="/dashboard">dashboard</a></span>
      </span>
    </li>

    <li nz-menu-item *appCanAccess="['CREATE_GROUP']">
      <span title>
        <i class="anticon anticon-team"></i>
        <span><a routerLink="/org">机构</a></span>
      </span>
    </li>
    <li nz-menu-item *appCanAccess="['LIST_PROFILES']">
      <span title>
        <i class="anticon anticon-contacts"></i>
        <span><a routerLink="/employee">员工</a></span>
      </span>
    </li>
    <li nz-menu-item *appCanAccess="['LIST_TAGS']">
      <span title>
        <i class="anticon anticon-tag"></i>
        <span><a routerLink="/tags">标签</a></span>
      </span>
    </li>
    <li nz-submenu  *appCanAccess="['CALCULATE_SALARY']">
      <span title>
        <i class="anticon anticon-calculator"></i>
        <span><a routerLink="/salary">薪酬</a></span>
      </span>
      <ul>
            <li nz-menu-item> <span><a routerLink="/salary/calculate">工资计算</a> </span> </li>
            <li nz-menu-item> <span><a routerLink="/salary/template">配置模板</a></span></li>
            <li nz-menu-item> <span><a routerLink="/salary/templateaccount">配置账套</a></span></li>
        </ul>
    </li>
    <li nz-menu-item >
      <span title>
        <i class="anticon anticon-bar-chart"></i>
        <span><a routerLink="/statistics">统计</a></span>
      </span>
    </li>
     <li nz-menu-item *appCanAccess="['LIST_AUDIT']">
      <span title>
        <i class="anticon anticon-appstore"></i>
        <span><a routerLink="/task">任务</a></span>
      </span>
    </li>
      <li nz-submenu *appCanAccess="['ADD_PERMISSIONS', 'CREATE_USER','CREATE_USER_GROUP','CREATE_ROLE']">
      <span title><i class="anticon anticon-setting"></i> 管理 </span>
        <ul>
            <li nz-menu-item> <span><a routerLink="/manager/users" *appCanAccess="['CREATE_USER']">用户管理</a></span> </li>
            <li nz-menu-item> <span><a routerLink="/manager/groups" *appCanAccess="['CREATE_USER_GROUP']">群组管理</a></span></li>
            <li nz-menu-item> <span><a routerLink="/manager/roles" *appCanAccess="['CREATE_ROLE']">角色管理</a></span></li>
            <li nz-menu-item> <span><a routerLink="/manager/permission" *appCanAccess="['ADD_PERMISSIONS']">权限管理</a></span></li>
            <li nz-menu-item> <span><a routerLink="/manager/backup"  *appCanAccess="['BACKUP']">备份</a></span></li>
        </ul>
    </li>

     <li nz-menu-item style="float:right;">
        <app-header></app-header>
     </li>
  </ul>  
  
</div>