.login-form {
    width: 400px;
    height: 300px;
    margin: auto;
    padding: 10px;
  }

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.logo-div {
  width: 200px;
  display: block;
  margin: auto;
}