.login-form {
    width: 400px;
    height: 300px;
    margin: auto;
    padding: 10px;
    text-align: center;
  }

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.logo-div {
  width: 200px;
  display: block;
  margin: auto;
}

.logo-div p {
  color: white;
  font-size: 20px;
  text-shadow: 1px 1px 1px #cccccc;
}