<ul nz-menu [nzMode]="'inline'" style="width: 250px; overflow-x: hidden; overflow-y: auto; " [style.height]="height">
    <li nz-submenu *ngFor="let node of tree" >
        <span title (click)="renderUsers(node.value)"><i class="anticon anticon-mail"></i> {{node.label}}</span>
        <ul>
            <li nz-menu-item *ngFor="let leaf of node.children" (click)="renderUsers(leaf.value)">
                <span title><i class="anticon anticon-mail"></i> {{leaf.label}}</span>
            </li>
          </ul>
    </li>
  </ul>