<div class="container">

  <div class="row-container">
      <div class="card card-1" style="width: 150px;height: 100px;">
          <div class="card-header">员工数</div>
          <div class="card-content">
            <span>{{summary.profile_count}}</span>
          </div>
        </div>
        <div class="card card-2" style="width: 150px;height: 100px;">
          <div class="card-header">用户数</div>
          <div class="card-content">
              <span>{{summary.user_count}}</span>
          </div>
        </div>
        <div class="card card-3" style="width: 150px;height: 100px;">
            <div class="card-header">群组数</div>
            <div class="card-content">
                <span>{{summary.group_count}}</span>
            </div>
          </div>
        <div class="card card-4" style="width: 150px;height: 100px;">
            <div class="card-header">复核</div>
            <div class="card-content">
                <span>{{summary.audit_count}}</span>
            </div>
          </div>
  </div>

  <div class="health-container card">
    <div class="card-header">系统运行状况</div>
    <div class="card-content">
        <ul >
            <li *ngFor="let m of messages;" style="color:black">
                {{m}}
            </li>
          </ul>
    </div>
  </div>

<div class="record-container card">
  <div class="card-header">访问状况</div>
  <nz-table #rowSelectionTable
        [nzData]="records" 
        [nzLoading]="loading" 
        [nzTotal]="total" 
        [nzBordered]="'true'"
        [nzSimple]="'false'"
        [nzSize]="'small'"
        [nzPageSize]="limit"
        [nzShowPagination]="pagination"
        [nzFrontPagination]="'false'"
        [nzHideOnSinglePage]="'true'"
        [nzShowSizeChanger]="pagination"
        (nzPageSizeChange)="nzPageSizeChange($event)"
        [(nzPageIndex)]="pageIndex"
        (nzPageIndexChange)="getData()"
        [nzWidthConfig]="['60px','100px']"
        >
        <thead>
            <tr>
            <th>ID</th>
            <th>时间</th>
            <th>内容</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of rowSelectionTable.data">
                <td>{{data.id}}</td>
                <td>{{data.CreatedAt | date:'yy-MM-dd hh:mm'}}</td>
                <td><a (click)="showBodyModal(data.body)">{{data.body}}</a></td>
            </tr>
        </tbody>
</nz-table>

</div>
</div>
