.container {

    width: 100%;
    display: flex;

    .health-container {
        width: 500px;
        height: 100px;
        line-height: 32px;
        margin: 20px;
        box-shadow: 1px 1px 4px white;

        ul {
            list-style: none;

            li{
                color: white;
            }
        }
    }

    .record-container {
        width: 500px;
        margin: 20px;
    }

}
